<div class="dpp-wrapper">
  <div class="dpp-sidebar">
<!--    <dpp-sidebar></dpp-sidebar>-->
    <div class="links">
      <ul>
        <li>
          <a routerLink="dashboard">
            <i class="pi pi-home"></i>
            <span class="link-name">Dashboard</span>
          </a>
        </li>

        <li>
          <a routerLink="orders">
            <i class="pi pi-shopping-cart"></i>
            <span class="link-name">Orders</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dpp-shell">
    <router-outlet></router-outlet>
  </div>
</div>
