<div class="dpp-orders-print">
  <p-card header="Versandlabels" subheader="Labels drucken">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <button pButton pRipple type="button" label="Drucken" icon="pi pi-print"
                    class="p-button-rounded"
                    (click)="printLabels()"></button>
          </div>
        </p-toolbar>
      </div>

      <div *ngIf="orderPrints" class="p-col-12">
        <p-table id="orders-print-table" [value]="orderPrints"
                 class="p-datatable-striped" [rowHover]="true">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="orderIdentifier">Bestellnr. <p-sortIcon field="orderIdentifier"></p-sortIcon></th>
              <th pSortableColumn="orderDate">Datum1 <p-sortIcon field="orderDate"></p-sortIcon></th>
              <!--              <th>Datum2</th>-->
              <th>Adresse</th>
              <th pSortableColumn="amount">Summe <p-sortIcon field="amount"></p-sortIcon></th>
              <th>Details</th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-orderPrint>
            <tr>
              <td>{{orderPrint.order.orderIdentifier}}</td>
              <td>{{orderPrint.order.orderDate | date: 'dd.MM.yyyy'}}</td>
              <!--              <td>date2</td>-->
              <td>
                <div class="p-text-left">
                  <div *ngIf="orderPrint.order.address">{{orderPrint.order.address}}</div>
                  <div *ngIf="orderPrint.order.orderAddress">
                    <div *ngIf="orderPrint.order.orderAddress.name">{{orderPrint.order.orderAddress.name}}</div>
                    <div>
                      <span *ngIf="orderPrint.order.orderAddress.addressLine1">{{orderPrint.order.orderAddress.addressLine1}}</span>
                      <span *ngIf="orderPrint.order.orderAddress.addressLine2">, {{orderPrint.order.orderAddress.addressLine2}}</span>
                      <span *ngIf="orderPrint.order.orderAddress.addressLine3">, {{orderPrint.order.orderAddress.addressLine3}}</span>
                    </div>
                    <div>
                      <span *ngIf="orderPrint.order.orderAddress.postalCode">{{orderPrint.order.orderAddress.postalCode}}, </span>
                      <span *ngIf="orderPrint.order.orderAddress.city">{{orderPrint.order.orderAddress.city}}</span>
                      <span *ngIf="orderPrint.order.orderAddress.district">, {{orderPrint.order.orderAddress.district}}</span>
                      <span *ngIf="orderPrint.order.orderAddress.stateOrRegion">, {{orderPrint.order.orderAddress.stateOrRegion}}</span>
                    </div>
                    <div>
                      <span *ngIf="orderPrint.order.orderAddress.county">{{orderPrint.order.orderAddress.county}}</span>
                      <span *ngIf="orderPrint.order.orderAddress.countryCode">, {{orderPrint.order.orderAddress.countryCode}}</span>
                    </div>
                    <div *ngIf="orderPrint.order.orderAddress.phone">{{orderPrint.order.orderAddress.phone}}</div>
                  </div>
                </div>
              </td>
              <td>{{orderPrint.order.amount | currency}}</td>
              <td>
                <div class="p-fluid">
                  <div class="p-field">
                    <p-inputNumber class="p-inputtext-sm" placeholder="Gewicht" mode="decimal"
                                   [(ngModel)]="orderPrint.weight"
                                   [minFractionDigits]="3" [min]="0" suffix=" kg"></p-inputNumber>
                  </div>
<!--                  <div class="p-field">-->
<!--                    <label for="shipping-product">Versandprodukt</label>-->
<!--                    <input id="shipping-product" type="text" pInputText class="p-inputtext-sm">-->
<!--                  </div>-->
                  <div class="p-field">
                    <p-dropdown placeholder="Verpackung" optionLabel="name" [showClear]="true"
                                [options]="packings" [(ngModel)]="orderPrint.packing"></p-dropdown>
                  </div>
                </div>
              </td>
              <td>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
