<div class="dpp-orders-list">
  <p-card header="Bestellungen" subheader="Liste der Bestellungen">
    <div class="p-grid">
            <div class="p-col-12">
              <p-toolbar>
                <div class="p-toolbar-group-left">
                  <button pButton pRipple type="button" label="Refresh" icon="pi pi-refresh"
                          class="p-button-rounded"
                          (click)="refreshData()"></button>
                  <button pButton pRipple type="button" label="Status ändern" icon="pi pi-cog"
                          class="p-button-rounded p-button-help"
                          (click)="changeStatus()"
                          [disabled]="!selectedOrders || !selectedOrders.length"></button>
                  <button pButton pRipple type="button" label="Versandlabel erstellen" icon="pi pi-plus"
                          class="p-button-rounded p-button-success"
                          (click)="navigatePrint()"
                          [disabled]="!selectedOrders || !selectedOrders.length || selectedOrders[0].status !== 1"></button>
                </div>
              </p-toolbar>
            </div>

      <div class="p-col-12">
        <p-table id="orders-table" [value]="orders"
                 [(selection)]="selectedOrders" dataKey="id"
                 class="p-datatable-striped" [rowHover]="true">
          <ng-template pTemplate="header">
            <tr>
<!--              <th style="width: 50px">#</th>-->
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="orderIdentifier">Bestellnr. <p-sortIcon field="orderIdentifier"></p-sortIcon></th>
              <th pSortableColumn="orderDate">Datum1 <p-sortIcon field="orderDate"></p-sortIcon></th>
<!--              <th>Datum2</th>-->
              <th>Käufer</th>
              <th pSortableColumn="amount">Summe <p-sortIcon field="amount"></p-sortIcon></th>
              <th>Item</th>
              <th>
                Status
                <p-columnFilter field="status" matchMode="equals" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                [showClearButton]="true" [showApplyButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="orderStates" (onChange)="filter($event.value)" placeholder="Alle">
                      <ng-template let-option pTemplate="item">
                        <p-tag [value]="orderStatus[option].label"
                               [severity]="orderStatus[option].color"
                               [icon]="orderStatus[option].icon"
                               [rounded]="true"></p-tag>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-order>
            <tr>
<!--              <td>{{order.id}}</td>-->
              <td>
                <p-tableCheckbox [disabled]="selectedOrders && selectedOrders.length > 0 && selectedOrders[0].status !== order.status"
                  [value]="order"></p-tableCheckbox>
              </td>
              <td>{{order.orderIdentifier}}</td>
              <td>{{order.orderDate | date: 'dd.MM.yyyy'}}</td>
<!--              <td>date2</td>-->
              <td>{{order.address}}</td>
              <td>{{order.amount | currency}}</td>
              <td>
                <div *ngIf="order.orderItem" class="p-grid">
                  <div class="p-col-12">{{order.orderItem.quantity}}x</div>
                  <div *ngIf="order.orderItem.image" class="p-col-12">
                    <img [src]="order.orderItem.image" style="width: 100%" />
                  </div>
                  <div class="p-col-12">{{order.orderItem.name}}</div>
                </div>
              </td>
              <td>
                <div class="p-d-flex p-jc-end">
                  <p-tag [value]="orderStatus[order.status].label"
                         [severity]="orderStatus[order.status].color"
                         [icon]="orderStatus[order.status].icon"
                         [rounded]="true"></p-tag>
                </div>
              </td>
              <td>
                <!--                <div class="p-d-flex p-jc-end">-->
                <!--                  <div style="position: relative">-->
                <!--                    <button pButton pRipple type="button" label="" icon="pi pi-users"-->
                <!--                            class="p-button-rounded p-button-primary p-mr-1"-->
                <!--                            [routerLink]="'registrations/' + camp.id"></button>-->
                <!--                    <div style="position: absolute; top: -10px; right: 0;">-->
                <!--                      <p-badge [value]="openRegistrationsCount.get(camp) + ''" severity="danger"></p-badge>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                  <button pButton pRipple type="button" label="" icon="pi pi-pencil"-->
                <!--                          class="p-button-rounded p-button-warning p-mr-1"-->
                <!--                          (click)="editCamp(camp)"></button>-->
                <!--                  <button pButton pRipple type="button" label="" icon="pi pi-trash"-->
                <!--                          class="p-button-rounded p-button-danger"-->
                <!--                          (click)="deleteCamp(camp)"></button>-->
                <!--                </div>-->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>

<!--<p-confirmDialog [style]="{width: '100vw'}" [baseZIndex]="10000"-->
<!--                 rejectButtonStyleClass="p-button-text"></p-confirmDialog>-->
